@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

/* CSS Reset & Initial Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  line-height: 1.6;
  height: 100%;
  font-family: 'Open sans', sans-serif;
  scroll-behavior: smooth;
  color: #333;
  background-color: #fff;
}

a {
  text-decoration: none;
}

p {
  margin: 10px 0;
  font-family: 'Open sans', sans-serif;
}

img {
  width: 100%;
}

.logo {
  color: #333;
  font-size: 1.7rem;
}

.navbar {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  transition: all 1s;
  z-index: 1;
  height: 55px;
  padding: 10px 16px;
}

.navbar.top {
  color: #fff;
  background: transparent;
  padding: 40px 16px;
}

.navbar nav ul {
  display: flex;
  list-style: none;
}

.navbar li a {
  color: #333;
  text-align: center; 
}

.navbar li {
  margin-right: 30px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar .logo {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

/* Hero Section*/
#hero {
  height: 100%;
}

#hero .flex-columns .flex-column-left{
  padding: 30px 0px;
}

#hero .flex-columns .flex-column-right {
  background: url('../img/education.png') no-repeat center center;
  height: 80%;
  flex: 1.2;
}

/* About Section*/
#about {
  padding: 10px 0;
  height: 75%;
}

#about .flex-columns .flex-column-right {
  background: url('../img/group-therapy.png') no-repeat center center;
}

/* Contact Section */
#contact {
  padding: 10px 0;
  height: 83%;
}

#contact .flex-columns .flex-column-right {
  background: url('../img/email-campaign.png') no-repeat center center;
  padding: 60px;
  background-size: 80%;
}

footer {
  height: 60px;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.295);
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}