@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

/* CSS Reset & Initial Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  line-height: 1.6;
  height: 100%;
  font-family: 'Open sans', sans-serif;
  scroll-behavior: smooth;
  color: #333;
  background-color: #fff;

  background-size: contain;  
}

a {
  text-decoration: none;
}

p {
  margin: 10px 0;
  font-family: 'Open sans', sans-serif;
}

img {
  width: 100%;
}

.logo {
  color: #333;
  font-size: 1.7rem;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  transition: all 1s;
  height: 55px;
}

.navbar.top {
  color: #fff;
  background: transparent;
  padding: 40px 10px;
  backdrop-filter: none;
}

.navbar nav ul {
  display: flex;
  list-style: none;
}

.navbar li a {
  color: #333;
  text-align: center; 
}

.navbar li {
  margin-right: 30px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar .logo {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

/* Hero Section*/
#hero {
  height: 100%;
}

#hero .flex-columns .flex-column-left{
  padding: 30px 0px;
}

#hero .flex-columns .flex-column-right {
  background: url('../img/education.png') no-repeat center center;
  height: 80%;
  flex: 1.2;
}

/* About Section*/
#about {
  padding: 10px 0;
  height: 75%;
}

#about .flex-columns .flex-column-right {
  background: url('../img/group-therapy.png') no-repeat center center;
}

/* Contact Section */
#contact {
  padding: 10px 0;
  height: 83%;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='220' preserveAspectRatio='none' viewBox='0 0 1440 220'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c70 C 57.6%2c61.8 172.8%2c28.2 288%2c29 C 403.2%2c29.8 460.8%2c70.8 576%2c74 C 691.2%2c77.2 748.8%2c41 864%2c45 C 979.2%2c49 1036.8%2c92.8 1152%2c94 C 1267.2%2c95.2 1382.4%2c59.6 1440%2c51L1440 220L0 220z' fill='rgba(241%2c 194%2c 62%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c194 C 96%2c179 288%2c118.4 480%2c119 C 672%2c119.6 768%2c197.2 960%2c197 C 1152%2c196.8 1344%2c133.8 1440%2c118L1440 220L0 220z' fill='rgba(213%2c 169%2c 47%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='1440' height='220' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e") no-repeat center bottom;
  /* background-attachment: fixed; */
  background-size: contain;
}

#contact .flex-columns {
  align-items: flex-start;
}

#contact .flex-columns .flex-column-right {
  background: url('../img/email-campaign.png') no-repeat center center;
  padding: 60px;
  background-size: 80%;
}

#contact .flex-columns .flex-column-left {
  margin-top: 80px;
}

textarea{
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  color: #333;

}

footer {
  height: 60px;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.95);
  background-color: #D5A92F;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-top: 2px solid #D5A92F;
}