.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 10px;
}

/* Buttons */
.btn {
  padding: 10px 20px;
  background-color: #f1c23e;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.3s;
  border: none;
}

button {
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #ffda72;
}

.btn:hover {
  box-shadow: inset 0 0 20px #ffda72, 0 0 25px #fcc93cb6;
}

.btn-width .btn {
  /* width: 130px; */
  margin-right: 12px;
}

/* Flexbox */
.flex-columns {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 16px;
}

.flex-columns h1{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 2.6rem;
}

.flex-columns p {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.flex-column-left {
  flex: 1;
  padding: 30px;
}

.flex-column-right {
  height: 100%;
  max-width: 100%;
  flex: 1.1;
}

.flex-row-reverse{
  flex-direction: row-reverse;
}